
*{
    color: #999999;
}
html {
    scroll-behavior: smooth;
}

.bgColor{
    background-color: rgba(0, 0, 0, 0.692); 
}
.navbar-nav li a:hover{
    color: #87D37B !important;
}
.carousel-caption h5{
   font-size:48px;
    margin-top: -46%;
    color: #fff;
    font-weight: 400;
    margin-left: 5%;

}

.carousel-caption h2 {
    color: #fff;
    width: 73%;
    height: 120px;
    margin-left: 16%;
    justify-content: center;
    border: 2px solid;
    font-size: 100px;

}
.carousel-caption span {
    color: #87D37B;
}
.carousel-caption h6 {
    font-size: 37px;
    color: #fff;
    font-weight: 300;
    margin-left: 5%;
}
.about-section i:hover {
    color: #87D37B;
}
.about-section h6:hover {
    color: #87D37B;
}
.about-section i {
    justify-content: center;
    display: flex;
    font-size: 50px;
    color: #999999;
}

/* #web-i-tag:hover {
    color: #87D37B;
} */

/* service-section */

#service-section {
    padding-bottom: 7%;
}


/* contact-section */
.contact-section a {
    color: #999999;
    text-decoration: none;
    padding-left: 30%;
}

.contact-section i:hover{
    color: #87D37B;
}

.contact-section h6:hover{
    color: #87D37B;
}

.contact-section a:hover{
    color: #87D37B;
}

.contact-section p:hover{
    color: #87D37B;
}

.contact-section i{
    display: flex;
    justify-content: center;
    font-size: 100px;
}
 .form-group input {
    display: inline-block;
    width: 80% !important;
    margin-left: 15% !important;

}
::placeholder{
    font-style: italic;
    font-weight: 5px;
    padding-left: 5%;
}
textarea{
    font-style: italic;
    padding-top: 30px;
    color: #999999 !important;
    padding-top: 6% !important;
    padding-left: 5% !important;
    width: 80% !important;

    
}

 
.login-button {
    background-color: #87D37B;
    border: none;
    border-radius: 3px;
    color: #fff;
    width: 25%;
    height: 22%;
    margin-top: 4% !important;
}

/* footer */
footer {
    background-color: black;
    height: 54px;

}

.fa-facebook{
    width: 33px;
    height: 33px;
    background-color: #3C599B;
    border-radius: 50%;
    color: #fff;
    padding-top:9px;
    padding-left: 1px;
    margin-top: 11px;
}
.fa-google-plus{
    width: 34px;
    background-color: #CD3B29;
    border-radius: 180px;
    height: 33px;
    color: #fff;
    padding-top:9px;
    padding-left: 1px;
}
.fa-linkedin{
    width: 34px;
    height: 33px;
    margin-top: 1px;
    background-color: #1988BE;
    border-radius: 50%;
    color: #fff;
    padding-top:9px;
    padding-left: 1px;
}
.fa-twitter{
    width: 34px;
    height: 33px;
    background-color: #5EAADE;
    border-radius: 50%;
    color: #fff;
    padding-top:9px;
}
.fa-skype{
    width: 34px;
    height: 33px;
    background-color: #5EAADE;
    border-radius: 50%;
    color: #fff;
    padding-top:10px;
}

.fa-dribbble{
    width: 34px;
    height: 33px;
    background-color: #03A651;
    border-radius: 50%;
    color: #fff;
    padding-top:9px;
}


.copyright{
    font-size: 8px;
}